/*---------------header-------------------*/

body {
  background-color: rgb(245, 245, 245);
}

.header_item1 {
  display: grid;
  grid-template-columns: 18% 62% 10% 10%;
  align-items: center;
  padding-left: 2vh;
  border-color: rgb(182, 181, 181);
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  color: rgb(161, 161, 161);
  background-color: rgb(248, 250, 250);
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.header_item2 {
  display: grid;
  grid-template-columns: 30% 50%;
  align-items: center;
  padding: 1.5ch;
  background-color: rgb(245, 245, 245);
}

.header_item3 {
  display: grid;
  grid-template-columns: 2% 15% 8% 8% 8% 15%;
  align-items: center;
  justify-items: center;
  height: 1.5cm;
  background-color: #b41712;
  color: white;
  font-size: 20px;
  position: relative;
}
.header_item3 a {
  color: white;
  font-size: 20px;
}
.header_item3 a:hover {
  background-color: #ffffff;
  color: #b41712;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input1 {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  height: 1cm;
  padding-right: 0%;
  box-shadow: 10px 10px #e7e6e6 0 0 10px 30px #e7e6e6 30px 0 20px 30px #e7e6e6;
}
.input2 {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
  height: 1cm;
  width: 10cm;
  padding-left: 0%;
  box-shadow: 50px 10px #111111 0 0 10px 30px #0e0d0d 30px 0 20px 30px #1a1919;
}
.form form button {
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 1cm;
  height: 1cm;
}

/*---------------main-------------------*/
.main1 {
  padding-top: 4ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.main1_item1 {
  border-color: rgb(124, 121, 121);
  border-style: hidden hidden solid hidden;
  border-width: 2px;
  font-size: 26px;
  background-color: rgb(245, 245, 245);
}

.main1_item2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.TinTuc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.TinTuc > div {
  background-color: white;
}

.TinTuc a img {
  max-width: 100%;
}

/*-------------main2--------------------*/
.main2 {
  padding-top: 13ch;
  padding-bottom: 3ch;
}

.item1 {
  grid-area: header;
  height: 312px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("static\image\xe_co.jpg");
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
  height: 433px;
}

.item5 {
  grid-area: footer;
  height: 312px;
}

.item6 {
  grid-area: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header menu main main"
    "right right main main"
    "right right footer left";
  gap: 8px;
  background-color: #ffffff;
}

.grid-container > div {
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: center;
  color: white;
  position: relative;
}

.grid-container > div > button {
  border-radius: 20px;
  height: 2.5em;
  width: 8em;
  font-size: 18px;
  border-color: #ffffff;
  color: white;
  background-color: transparent;
}
.grid-container div button:hover {
  border-radius: 20px;
  height: 2.5em;
  width: 8em;
  font-size: 18px;
  border-color: #ffffff;
  border: 1px white;
  color: #b41712;
  background-color: #ffffff;
}

/*----------------main3------------------*/
.i1 {
  grid-row: 1/3;
  color: #ffffff;
  font-size: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.i1 div {
  padding-top: 3px;
  padding-bottom: 3px;
}
.i1 form button {
  border-radius: 20px;
  height: 2.5em;
  width: 8em;
  font-size: 18px;
  border-color: #ffffff;
  color: white;
  background-color: transparent;
}
.i1 form button:hover {
  border-radius: 20px;
  height: 2.5em;
  width: 8em;
  font-size: 18px;
  border-color: #ffffff;
  border: 1px white;
  color: #b41712;
  background-color: #ffffff;
}
.i2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #ffffff;
}
.i2 div {
  padding-left: 1ch;
}

.main3 {
  padding-top: 6ch;
  padding-bottom: 3ch;
  background-color: rgb(245, 245, 245);
}

.grid-container2 {
  display: grid;
  grid-template-columns: 21% 38% 38%;
  gap: 30px;
  background-color: rgb(245, 245, 245);
  padding-left: 25px;
  padding-right: 25px;
}
.grid-container2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
}
.grid-container2 div div a {
  font-weight: bold;
}
/*------------main4------------*/
.main4 {
  padding-top: 5ch;
  padding-bottom: 5ch;
  padding-left: 3ch;
  padding-right: 3ch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  border: #686666;
  border-color: red;
  font-size: 22px;
}

.main4 > div > a {
  font-size: 17px;
  color: #686666;
}
.timkiem {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  align-items: center;
  justify-items: center;
  height: 1.5cm;
  background-color: #b41712;
  color: white;
  font-size: 20px;
}

/* Logged in */
/*-------------dropdowm-----------*/
.dropdown {
  position: relative;
  display: inline-block;
  color: #0e0d0d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content a:hover {
  font-size: 18px;
  color: #b41712;
}
