<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <th:block th:insert="~{/layout/layout::library}"/>
</head>
<body>
<div th:replace="~{/layout/layout::header}"></div>

<form onsubmit="sendBid(); return false;">
    Id: <input id="id"><br>
    Auction ID: <input id="auctionId"><br>
    User ID: <input id="userId"><br>
    Amount: <input id="amount"><br>
    <button type="submit">Lưu</button>
</form>


<table id="bidTable" class="table table-dark">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Auction ID</th>
        <th>User ID</th>
        <th>Amount</th>
        <th>Detail</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bidHistory,status:${bidHistoryList}">
        <td th:text="${status.count}"></td>
        <td th:text="${bidHistory.id}"></td>
        <td th:text="${bidHistory.auctionId}"></td>
        <td th:text="${bidHistory.userId}"></td>
        <td th:text="${bidHistory.amount}"></td>
        <td>
            <a th:href="@{/bidHistorys/detail(id=${bidHistory.id})}">Detail</a>
        </td>
        <td>
            <a th:href="@{/bidHistorys/detail/__${bidHistory.id}__}">Detail</a>
        </td>
    </tr>
    <tr>
        <td th:if="${bidHistoryList.isEmpty()}" colspan="8" th:text="${'Không có giá trị nào'}"></td>
    </tr>
    </tbody>
</table>

<script>
    // chỉ khai báo 1 socket thôi
    const socket = new WebSocket("ws://localhost:8080/ws/bid");

    socket.onopen = () => {
        console.log("Connected to WebSocket");
    };

    socket.onmessage = (event) => {
        const data = JSON.parse(event.data); // server gửi JSON bid đã lưu
        const table = document.getElementById("bidTable").getElementsByTagName("tbody")[0];
        const row = table.insertRow();

        row.innerHTML = `
            <td>*</td>
            <td>${data.id}</td>
            <td>${data.auctionId}</td>
            <td>${data.userId}</td>
            <td>${data.amount}</td>
            <td><a href="/bidHistorys/detail?id=${data.id}">Detail</a></td>
            <td><a href="/bidHistorys/detail/${data.id}">Detail</a></td>
        `;
    };

    function sendBid() {
        const bid = {
            id: document.getElementById("id").value,   // thêm id
            auctionId: document.getElementById("auctionId").value,
            userId: document.getElementById("userId").value,
            amount: document.getElementById("amount").value
        };
        socket.send(JSON.stringify(bid));
    }

</script>

</body>
</html>
